.window { 
  border:0.1em dotted #d4e06b; 
  opacity:0.8; 
  filter:alpha(opacity=80);
  width:24em;
  z-index:20; 
  position:absolute; 
  color:black;
  font-family:helvetica, sans;
  padding-top:0.9em; 
  font-size:0.9em;
  text-align:center;
  background-color:white;
}
.window p{
    text-align: left;
    padding: 0px 10px;
    line-height: 160%;
}
.roadnottaken{
  opacity:0.3;
  filter:alpha(opacity=30);
  color: #777;
}
.roadnottaken .btn-danger{
  display: none;
}
.roadnottaken .btn-success{
  display: none;
}
#startpoint { left:25em;}
#homebased { left:5em;top:16em;}
#homebasedbeautybarber { left:20em;top:36em;}
#homebasedzoningcompliance { left:5em;top:53em;}
#getfinallicense { left:20em;top:70em;}
#grandopening { left:25em;top:90em;}

#commercialbusiness{left:55em;top:16em;}
#zoningvariance{left:45em;top:27em;}
#foodandbeverage{left:68em;top:42em;}
#returntopz{left:55em;top:58em;}

#septictank{left:68em;top:30em;}