.window { 
  border:0.1em dotted #d4e06b; 
  opacity:0.8; 
  filter:alpha(opacity=80);
  width:24em;
  z-index:20; 
  position:absolute; 
  color:black;
  font-family:helvetica, sans;
  padding-top:0.9em; 
  font-size:0.9em;
  text-align:center;
  background-color:white;
}
.window p{
  text-align: left;
  padding: 0px 10px;
  line-height: 160%;
}
.window ul{
  text-align: left;
}
.window a{
  font-weight: bold;
}
.roadnottaken{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"
  filter:alpha(opacity=30);
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity:0.3;
  color: #777;
}
.roadnottaken .btn-danger{
  display: none;
}
.roadnottaken .btn-success{
  display: none;
}
#startpoint { left:25em;top:-2.5em;}
#homebased { left:5em;top:16.5em;}
#homebasedfood { left:20em;top:37em;}
#homebasedzoningcompliance { left:5em;top:54em;}
#getfinallicense { left:17em;top:87em;}
#grandopening { left:25em;top:114em;}

#commercialbusiness{left:55em;top:14.5em;}
#zoningvariance{left:45em;top:32em;}
#foodandbeverage{left:68em;top:46em;}
#septictank{left:70em;top:33em;}
#returntopz{left:44em;top:67em;}
